<!-- slides
    ================================================== -->


<div class="slideshow-container">
  <div class="mySlides" id="firstSlide">
    <div class="numbertext">1 / 3</div>
    <div class="slide-content">
      <!--연습하기 퀴즈 부분-->
            
                 <div class="modal-header">
                     <h3> 배경화면을 설정할 때, 갤러리에 있는 사진을 배경으로 선택하려면 어떻게 해야할까요? </h3>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>     
                 
                 <div class="modal-body">
                     <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                     <div class="smartphone-body_10">
                           <!--<input type="hidden" name="question" value="홈버튼은 어디에 있을까요?">-->
                           <button class="button1" name="answer" value="correct" title="갤러리에서 배경화면을 선택하는 버튼입니다." style="cursor:pointer" onClick='btnClick1()'></button>
                           <button class="button2" name="answer" value="wrong" title="배경화면 전환시 모션여부를 결정하는 버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button3" name="answer" value="wrong" title="기본 제공화면을 배경화면으로 선택하는 버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button4" name="answer" value="wrong" title="선택한 사진을 배경화면으로 설정하는 확인버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                           
                     </div>        
                  </div>
            
    </div>
   </div>
  </div>
  <!--연습하기 퀴즈 부분 끝--> 

<div class="slideshow-container">
  <div class="mySlides">
    <div class="numbertext">2 / 3</div>
    <div class="slide-content">
        <!--연습하기 퀴즈 부분-->
            
                 <div class="modal-header">
                     <h3>다음 와이파이 중 비밀번호 입력 없이 바로 연결 하려면 어느 것을 선택해야 할까요??</h3>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>     
                 
                 <div class="modal-body">
                     <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                     <div class="smartphone-body_11">
                           <!--<input type="hidden" name="question" value="전화를 걸려면 어떤 버튼을 눌러야 할까요?">-->
                           <button class="button1" name="answer" value="correct"  style="cursor:pointer" onClick='btnClick1()'></button>
                           <button class="button2" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick1()'></button>
                           <button class="button3" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button4" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick2()'></button>
                     </div>        
                  </div>
    
    </div>
  </div>
 </div>  
 <!--연습하기 퀴즈 부분 끝--> 
        
        <div class="slideshow-container">
          <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <div class="slide-content">
               <!--연습하기 퀴즈 부분-->
                    
                         <div class="modal-header">
                             <h3> 스마트폰의 여러 소리 크기를 조절하려면 어느 메뉴로 들어가야 할까요? </h3>
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>     
                         
                         <div class="modal-body">
                             <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                             <div class="smartphone-body_12">
                                   <input type="hidden" name="question" value="전화를 걸려면 어떤 버튼을 눌러야 할까요?">
                                   <form action="/quiz/<%=@subject.id%>/practice" id="practice" method="get" >
                                       <button class="button1" name="answer" value="correct" style="cursor:pointer" onClick='btnClick3()'></button>
                                   </form>
                                       <button class="button2" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick1()'></button>
                                       <button class="button3" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick2()'></button>
                                       <button class="button4" name="answer" value="wrong"  style="cursor:pointer" onClick='btnClick2()'></button>
                             </div>        
                          </div>
            
            <!--연습하기 퀴즈 부분 끝--> 
            </div>
          </div>
         </div>  
        <br>
        <div style="text-align:center">
          <span class="dot active" ></span>
          <span class="dot" ></span>
          <span class="dot" ></span>
        </div>
            <!-- /.slides -->
