              <!-- slides
    ================================================== -->
    <div class="slideshow-container">
  <div class="mySlides" id="firstSlide">
    <div class="numbertext">1 / 3</div>
    <div class="slide-content">
      <!--연습하기 퀴즈 부분-->
            
                 <div class="modal-header">
                     <h3>홈버튼은 어디에 있을까요?</h3>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>     
                 
                 <div class="modal-body">
                     <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                     <div class="smartphone-body_1">
                           <!--<input type="hidden" name="question" value="홈버튼은 어디에 있을까요?">-->
                           <button class="button1" name="answer" value="correct" title="홈버튼입니다." style="cursor:pointer" onClick='btnClick1()'></button>
                           <button class="button2" name="answer" value="wrong" title="취소 및 뒤로가기 할 때 사용하는 버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button3" name="answer" value="wrong" title="전원버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button4" name="answer" value="wrong" title="메뉴에 들어가기 위해 사용하는 버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                     </div>        
                  </div>
            
    </div>
   </div>
  </div>
  <!--연습하기 퀴즈 부분 끝--> 

<div class="slideshow-container">
  <div class="mySlides">
    <div class="numbertext">2 / 3</div>
    <div class="slide-content">
        <!--연습하기 퀴즈 부분-->
            
                 <div class="modal-header">
                     <h3>상단바를 사용하기 위해서는 손가락을 화면에 대고 어떻게 끌어야 할까요?</h3>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>     
                 
                 <div class="modal-body">
                     <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                     <div class="smartphone-body_2">
                           <!--<input type="hidden" name="question" value="전화를 걸려면 어떤 버튼을 눌러야 할까요?">-->
                           <button class="button1" name="answer" value="correct" title="위에서 아래로 끌기" style="cursor:pointer" onClick='btnClick1()'></button>
                           <button class="button2" name="answer" value="wrong" title="아래에서 위로 끌기" style="cursor:pointer" onClick='btnClick2()'></button>
                           <button class="button3" name="answer" value="wrong" title="양옆으로 끌기" style="cursor:pointer" onClick='btnClick2()'></button>
                     </div>        
                  </div>
    
    </div>
  </div>
 </div>  
 <!--연습하기 퀴즈 부분 끝--> 
        
        <div class="slideshow-container">
          <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <div class="slide-content">
               <!--연습하기 퀴즈 부분-->
                    
                         <div class="modal-header">
                             <h3>충전부 및 pc 연결부분은 어디에 있을까요?</h3>
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>     
                         
                         <div class="modal-body">
                             <h5>스마트폰 화면에서 마우스로 클릭해주세요!</h5>
                             <div class="smartphone-body_3">
                                    
                                
                                   <!--<input type="hidden" name="question" value="전화를 걸려면 어떤 버튼을 눌러야 할까요?">-->
                                   <form action="/quiz/<%=@subject.id%>/practice" id="practice" method="get" >
                                       <button class="button1" type="submit" name="answer" value="correct" title="충전부 및 pc 연결부분입니다." style="cursor:pointer" onClick='btnClick3()'></button>
                                    </form>
                                       <button class="button2" type="submit"name="answer" value="wrong" title="후면카메라입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                                       <button class="button3" type="submit"name="answer" value="wrong" title="플래시부분입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                                       <button class="button4" type="submit"name="answer" value="wrong" title="이어폰 연결잭 부분입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                                       <button class="button5" type="submit"name="answer" value="wrong" title="소리를 조절할 때 사용하는 버튼입니다." style="cursor:pointer" onClick='btnClick2()'></button>
                               
                             </div>        
                          </div>
            
            <!--연습하기 퀴즈 부분 끝--> 
            </div>
          </div>
         </div>  
        <br>
        <div style="text-align:center">
          <span class="dot active" ></span>
          <span class="dot" ></span>
          <span class="dot" ></span>
        </div>
            <!-- /.slides -->
