 <!--동영상 강의와 자세한 설명 버튼-->
     <nav class="nav-tabs">
       
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link-text" href="/quiz/<%=@subject.id%>">동영상 강의</a>
          </li>
          <li class="nav-item">
            <a class="nav-link-text"href="/quiz/<%=@subject.id%>/text">자세한 설명</a>
          </li>
        </ul>
       
     </nav> 
     
<!--text 부분 -->
<section class="container">
 <div class="row mt-4">
   <div class="col-12">
     <h3>스마트폰으로 전화걸기 순서</h3>
       <br>
       <p> 1. 스마트폰 화면에서 전화버튼을 누른다. </p>
       <p> 2. 전화를 걸고싶은 상대방의 번호를 찾는다. </p>
       <p> 3. 찾은 다음, 전화 버튼을 누르고 기다린다. </p>
       <p> 4. ....</p>
   </div>
 </div>
</section> 