 <!--동영상 강의와 자세한 설명 버튼-->
    <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item" id="lecture" style="background-color:#83c9b0; border-radius:5px;">
            <a class="nav-link " href="/quiz/<%=@subject.id%>" style="border-radius:5px; color:white">동영상 강의</a>
          </li>
          <li class="nav-item" style="background-color:#83c9b0; border-radius:5px; left:3px;">
            <a class="nav-link " href="/quiz/<%=@subject.id%>/text" style="border-radius:5px; color:white">자세한 설명</a>
          </li>
        </ul>
     </nav> 
     
<!--text 부분 -->
<section class="container">
 <div class="row mt-4">
   <div class="col-12">
     <h3>스마트폰으로 전화걸기 순서</h3>
       <br>
1. 스마트폰의 구조 알아보기
앞
01. 수화스피커
02. 터치화면
03. 매뉴버튼
04. 홈버튼
05. 취소/뒤로가기 버튼
06.  전원버튼
07. 전면카메라

뒤
01. 후면 카메라
02. 배터리 덮개
03. 충전부/pc연결부
04. 이어폰 연결잭
05. 음량버튼
06. 플래시

1-2 화면 조작방법
01.누르기
화면을 손가락으로 가볍게 누릅니다.
활용 예 : 사진을 선택, 앱실행 등

02. 길게 누르기
화면을 손가락으로 길게 누릅니다. 
활용 예 : 아이콘을 이동, 세부메뉴를 나타내는 경우
 
03. 올리기, 내리기
화면에 손가락을 대고 위로 올리고 내립니다.
활용 예 : 화면을 끌어 올리거나 내릴 때

04. 옆으로 밀기
화면에 손가락을 대고 좌우로 밉니다.
활용 예 : 화면을 좌우로 넘길 때

1-3. 상단바
▶상단바 사용방법
화면의 상단에 있는 시간 부분에 손가락을 대고
아래로 내리면 상단바가 나타납니다.
다른버튼을 보려면 상단바를 좌우로 이동합니다.
   </div>
 </div>
</section> 