<div class="container" id="complete">
    <h1>강좌 학습을 완료했습니다.</h1>
    <p>다른 강좌도 학습해 보세요!!</p>
    <img src="https://image.flaticon.com/icons/svg/147/147210.svg" class="win"></img>
    <a href="/">   
    <button class="btn_next">다른강좌 학습하러가기</button>
    </a>
</div>