/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require sweetalert2
 *= require_tree .
 */
.user_page{
    text-align: center;
    margin-top: 10rem;
}



#quiz_body{
    margin: auto;
    width: 500px;
   height: 300px;
}

 /*스마트폰 화면 css*/
.modal-body .smartphone-body_1 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/screen.jpg') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_2 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/screen.jpg') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_3 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/smartphone-back.png') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}


/* 1번째 연습문제 버튼 css*/


/*홈버튼 css*/
.smartphone-body_1 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    left: 45%;
    font-size: 0px;
    padding: 17px 4.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*취소 및 뒤로가기 버튼 css*/
.smartphone-body_1 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    right: 34.5%;
    font-size: 0px;
    padding: 17px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 14px;
    border-style: groove;
    border-color: red;
}



/*전원버튼 css*/
.smartphone-body_1 .button3 {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 28.5%;
    font-size: 0px;
    padding: 20px 1%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*메뉴 버튼 css*/
.smartphone-body_1 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    left: 35.5%;
    font-size: 0px;
    padding: 17px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button4:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 14px;
    border-style: groove;
    border-color: red;
}



/* 2번째 연습문제 버튼 css*/



/*arrow-down 버튼 css*/
.smartphone-body_2 .button1 {
    background: url('/assets/long-down-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    top: 9%;
    left: 43%;
    font-size: 0px;
    padding: 39px 6.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button1:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}

/*arrow-up 버튼 css*/
.smartphone-body_2 .button2 {
    background: url('/assets/long-up-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    bottom: 17%;
    left: 43%;
    font-size: 0px;
    padding: 39px 6.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button2:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}


/*double-arrow 버튼 css*/
.smartphone-body_2 .button3 {
    background: url('/assets/double-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    top: 42%;
    left: 40%;
    font-size: 0px;
    padding: 39px 10%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button3:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}


/* 3번째 연습문제 css*/

/*충전부 및 pc 연결부분 css*/
.smartphone-body_3 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 46.5%;
    font-size: 0px;
    padding: 15px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*후면 카메라 css*/
.smartphone-body_3 .button2 {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 45.5%;
    font-size: 0px;
    padding: 30px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 30px;
    border-style: groove;
    border-color: red;
}


/*플래시 css*/
.smartphone-body_3 .button3 {
    opacity: 0;
    position: absolute;
    top: 10.5%;
    left: 56%;
    font-size: 0px;
    padding: 26px 1.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
    border-color: red;
}


/*이어폰 연결 잭 css*/
.smartphone-body_3 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 59%;
    font-size: 0px;
    padding: 15px 2%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button4:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*음량 버튼 css*/
.smartphone-body_3 .button5 {
    opacity: 0;
    position: absolute;
    top: 21%;
    right: 28%;
    font-size: 0px;
    padding: 26px 1.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button5:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
    border-color: red;
}







/*퀴즈화면*/
.quiz_score{
    text-align: center;
   
}
.practice_score{
    text-align: center;
   
}

#complete{
    text-align: center;
}
.win{
    width: 12rem;
    height: auto;
}
.btn_next {
  margin: auto;
  margin-top: 1rem;
  display: block;
  background: #4bab85;
  background-image: -webkit-linear-gradient(top, #4bab85, #386987);
  background-image: -moz-linear-gradient(top, #4bab85, #386987);
  background-image: -ms-linear-gradient(top, #4bab85, #386987);
  background-image: -o-linear-gradient(top, #4bab85, #386987);
  background-image: linear-gradient(to bottom, #4bab85, #386987);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_next:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #dfe3e6);
  background-image: -moz-linear-gradient(top, #000000, #dfe3e6);
  background-image: -ms-linear-gradient(top, #000000, #dfe3e6);
  background-image: -o-linear-gradient(top, #000000, #dfe3e6);
  background-image: linear-gradient(to bottom, #000000, #dfe3e6);
  text-decoration: none;
}
#lecture{
    color: rgba(255, 255, 255, 0.8);
}

#card_user {
    
    margin:auto;
    width: 200px;
    height: 200px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
#card_user:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#rank{
 width: 15rem;
}
.rank{
    text-align: center;
}
#quiz_body{
    margin-top: 9rem;
    padding-bottom: 9rem;
}

.carousel-inner{
    height: 20rem;
    
   margin-bottom: 10rem;
}
.carousel-inner .item{
    width: fit-content;
}


/* navbar 민트색 관련*/
.navbar{
    background-color: #83c9b0;
    border-color: #83c9b0;
}
.navbar a:link{
    color: white;
}
.navbar a:visited{
    color:white;
}
.navbar a:active{
    color:white;
}
.navbar a:hover{
    color:#83c9b0;
}