/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require sweetalert2
 *= require_tree .
 */
.noin-container {
    margin: 20px 0;   
    width: 100%;
}
 
.user_page{
    text-align: center;
}



#quiz_body{
    margin: auto;
    width: 500px;
   height: 300px;
}

 /* modal 스마트폰 화면 css*/
.modal-body .smartphone-body_1 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/screen.jpg') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_2 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/screen.jpg') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_3 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/smartphone-back.png') no-repeat center center;
   background-size: 40% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_4 {
  position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/phone-number.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_5 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/phone-slide.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_6 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/message.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_7 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/camera-1.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_8 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/camera-2.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_9 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/camera-3.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_10 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/setting-1.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_11 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/setting-2.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}

.modal-body .smartphone-body_12 {
   position: relative;
   width: 100%;
   height: 600px;
   background: url('/assets/setting-3.png') no-repeat center center;
   background-size: 50% 100%;
   text-align: center;
   display: inline-block;
}


/* 과목1 1번째 연습하기 버튼 css*/


/*홈버튼 css*/
.smartphone-body_1 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    left: 45%;
    font-size: 0px;
    padding: 17px 4.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*취소 및 뒤로가기 버튼 css*/
.smartphone-body_1 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    right: 34.5%;
    font-size: 0px;
    padding: 17px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 14px;
    border-style: groove;
    border-color: red;
}



/*전원버튼 css*/
.smartphone-body_1 .button3 {
    opacity: 0;
    position: absolute;
    top: 35%;
    right: 28.5%;
    font-size: 0px;
    padding: 20px 1%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*메뉴 버튼 css*/
.smartphone-body_1 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    left: 35.5%;
    font-size: 0px;
    padding: 17px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_1 .button4:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 14px;
    border-style: groove;
    border-color: red;
}



/* 과목1 2번째 연습하기 버튼 css*/



/*arrow-down 버튼 css*/
.smartphone-body_2 .button1 {
    background: url('/assets/long-down-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    top: 9%;
    left: 43%;
    font-size: 0px;
    padding: 39px 6.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button1:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}

/*arrow-up 버튼 css*/
.smartphone-body_2 .button2 {
    background: url('/assets/long-up-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    bottom: 17%;
    left: 43%;
    font-size: 0px;
    padding: 39px 6.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button2:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}


/*double-arrow 버튼 css*/
.smartphone-body_2 .button3 {
    background: url('/assets/double-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    top: 42%;
    left: 40%;
    font-size: 0px;
    padding: 39px 10%;
    border: 0;
    outline: 0;
}

.smartphone-body_2 .button3:hover {
    opacity: 0.5;
    /*background:#000;*/
    border-width: 5px;
    border-radius: 5px;
    /*border-style: groove;*/
    /*border-color: red;*/
}


/* 과목1 3번째 연습하기 버튼 css*/

/*충전부 및 pc 연결부분 css*/
.smartphone-body_3 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 46.5%;
    font-size: 0px;
    padding: 15px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*후면 카메라 css*/
.smartphone-body_3 .button2 {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 45.5%;
    font-size: 0px;
    padding: 30px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 30px;
    border-style: groove;
    border-color: red;
}


/*플래시 css*/
.smartphone-body_3 .button3 {
    opacity: 0;
    position: absolute;
    top: 10.5%;
    left: 56%;
    font-size: 0px;
    padding: 26px 1.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
    border-color: red;
}


/*이어폰 연결 잭 css*/
.smartphone-body_3 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 59%;
    font-size: 0px;
    padding: 15px 2%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button4:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*음량 버튼 css*/
.smartphone-body_3 .button5 {
    opacity: 0;
    position: absolute;
    top: 21%;
    right: 28%;
    font-size: 0px;
    padding: 26px 1.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_3 .button5:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
    border-color: red;
}


/* 과목2 1번째 연습문제 버튼 css*/


/*연락처 추가 버튼 css*/
.smartphone-body_4 .button1 {
    opacity: 0;
    position: absolute;
    top: 13%;
    left: 25%;
    font-size: 0px;
    padding: 19px 24.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_4 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*전화목록으로 돌아가는 버튼 css*/
.smartphone-body_4 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    right: 28.5%;
    font-size: 0px;
    padding: 25px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_4 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*통화 버튼 css*/
.smartphone-body_4 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    right: 45.3%;
    font-size: 0px;
    padding: 25px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_4 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*영상통화 버튼 css*/
.smartphone-body_4 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 2%;
    right: 62%;
    font-size: 0px;
    padding: 25px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_4 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*번호취소 버튼 css*/
.smartphone-body_4 .button5 {
    opacity: 0;
    position: absolute;
    top: 32.5%;
    right: 24.9%;
    font-size: 0px;
    padding: 25px 2.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_4 .button5:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/* 과목2 2번째 연습문제 버튼 css*/


/*long-right-arrow css*/
.smartphone-body_5 .button1 {
    background: url('/assets/long-right-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    top: 23%;
    left: 10%;
    font-size: 0px;
    padding: 42px 9%;
    border: 0;
    outline: 0;
}

.smartphone-body_5 .button1:hover {
    opacity: 0.5;
    border-width: 5px;
    border-radius: 5px;
}

/*전화통화 버튼 css*/
.smartphone-body_5 .button2 {
    opacity: 0;
    position: absolute;
    top: 25.5%;
    right: 25%;
    font-size: 0px;
    padding: 20px 2.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_5 .button2:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*long-left-arrow css*/
.smartphone-body_5 .button3 {
    background: url('/assets/long-left-arrow.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    border-radius: 19px;
    bottom: 23%;
    right: 9.5%;
    font-size: 0px;
    padding: 42px 9%;
    border: 0;
    outline: 0;
}

.smartphone-body_5 .button3:hover {
    opacity: 0.5;
    border-width: 5px;
    border-radius: 5px;
}


/*과목2 3번째 연습문제 버튼*/


/*상대방 검색 버튼 css*/
.smartphone-body_6 .button1 {
    opacity: 0;
    position: absolute;
    top: 12.5%;
    left: 25%;
    font-size: 0px;
    padding: 19px 24.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_6 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*메시지 보내는 버튼 css*/
.smartphone-body_6 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 39.5%;
    right: 26%;
    font-size: 0px;
    padding: 15.5px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_6 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*파일첨부 버튼 css*/
.smartphone-body_6 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 39.5%;
    left: 25%;
    font-size: 0px;
    padding: 16px 2.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_6 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}




.foot .quiz {
    text-align: center;
}


/*퀴즈화면*/
.quiz_score{
    text-align: center;
   
}
.practice_score{
    text-align: center;
   
}

#complete{
    text-align: center;
}
.win{
    width: 12rem;
    height: auto;
}
.btn_next {
  margin: auto;
  margin-top: 1rem;
  display: block;
  background: #83c9b0;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#complete{
    margin-top: 15rem;
}
.btn_next:hover {
  background:white;
  color: #83c9b0;
  text-decoration: none;
}
#lecture{
    color: rgba(255, 255, 255, 0.8);
}
.page_content{
    padding-top: 20rem;
}
.my_page{
    height: 80rem;
    
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("/assets/smartphone-call.png")
}



#rank{
 width: 15rem;
}
.rank{
    text-align: center;
}
#quiz_body{
    margin-top: 9rem;
    padding-bottom: 9rem;
}

.carousel-inner{
  margin-bottom: 2rem;
}
.carousel-inner .item{
    width: fit-content;
}


/* navbar 민트색 관련*/
.navbar{
    background-color: #83c9b0;
    border-color: #83c9b0;
}
.navbar a:link{
    color: white;
}
.navbar a:visited{
    color:white;
}
.navbar a:active{
    color:white;
}
.navbar #nav-main a:hover{
    color:#83c9b0;
}
/* nav tabs*/
.nav-link-text{
    color:white;
    background-color: #83c9b0;
}
.navbar-brand{
    
}
.icon-bar{
    background: white;
}


#lecture .nav-item {
    background-color: #83c9b0;
    color: white;
}

#login_page{
     color:#83c9b0;
}

#quiz_main .card,#quiz_main .progress{
    margin:auto;
    margin-bottom: 2rem;
}
.navbar .container{
    text-align: center;
}
.rank,.notice{
    color:#83c9b0;
    font-weight:bold;
}
.rank .col-md-8{
    background-color: #83c9b0;
    color:white;
    padding: .8rem;
}
.rank_detail{
   border-bottom-style: solid;
    border-color: white;
    border-width: thick;
        font-size: 20px;
}
.honor{
    width: 50px;
}
.table-condensed{
    text-align: center;
    font-size: 20px;
    border-color: #83c9b0;
    border-style: solid;
}
#table-top{
    background-color: #83c9b0;
    color: white;
}



/*********************************/
/* ###과목3### 연습문제 버튼 css */
/*********************************/

/*과목 3-1 연습문제 버튼*/


/* 카메라 전환 버튼 */
.smartphone-body_7 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 4%;
    left: 35%;
    font-size: 0px;
    padding: 25px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_7 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_7 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 3.5%;
    right: 34%;
    font-size: 0px;
    padding: 25px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_7 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_7 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 3%;
    right: 25%;
    font-size: 0px;
    padding: 25px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_7 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*셔터버튼 css*/
.smartphone-body_7 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 3.5%;
    left: 44.5%;
    font-size: 0px;
    padding: 30px 5%;
    border: 0;
    outline: 0;
}

.smartphone-body_7 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_7 .button5 {
    opacity: 0;
    position: absolute;
    top: 0%;
    right: 25.5%;
    font-size: 0px;
    padding: 23px 2.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_7 .button5:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*과목 3-2 연습문제 버튼*/


/* 정답 버튼 */
.smartphone-body_8 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    left: 26%;
    font-size: 0px;
    padding: 63px 7%;
    border: 0;
    outline: 0;
}

.smartphone-body_8 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_8 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 25.5%;
    right: 26%;
    font-size: 0px;
    padding: 63px 7%;
    border: 0;
    outline: 0;
}

.smartphone-body_8 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_8 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 25.5%;
    left: 26%;
    font-size: 0px;
    padding: 63px 7%;
    border: 0;
    outline: 0;
}

.smartphone-body_8 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



/*셔터버튼 css*/
.smartphone-body_8 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 50%;
    right: 26%;
    font-size: 0px;
    padding: 63px 7%;
    border: 0;
    outline: 0;
}

.smartphone-body_8 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*과목 3-3 연습문제 버튼*/


/* 정답 버튼 */
.smartphone-body_9 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 41%;
    font-size: 0px;
    padding: 28px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_9 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_9 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 0%;
    right: 41%;
    font-size: 0px;
    padding: 28px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_9 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_9 .button3 {
    opacity: 0;
    position: absolute;
    top: 0%;
    right: 33.5%;
    font-size: 0px;
    padding: 25px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_9 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_9 .button4 {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 25%;
    font-size: 0px;
    padding: 25px 3%;
    border: 0;
    outline: 0;
}

.smartphone-body_9 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_9 .button5 {
    opacity: 0;
    position: absolute;
    top: 0%;
    right: 25%;
    font-size: 0px;
    padding: 25px 3.5%;
    border: 0;
    outline: 0;
}

.smartphone-body_9 .button5:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*********************************/
/* ###과목4### 연습문제 버튼 css */
/*********************************/


/*과목 4-1 연습문제 버튼*/


/* 정답 버튼 */
.smartphone-body_10 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    left: 25%;
    font-size: 0px;
    padding: 45px 6%;
    border: 0;
    outline: 0;
}

.smartphone-body_10 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_10 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 26%;
    right: 26%;
    font-size: 0px;
    padding: 18px 4%;
    border: 0;
    outline: 0;
}

.smartphone-body_10 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_10 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    right: 36.5%;
    font-size: 0px;
    padding: 45px 6%;
    border: 0;
    outline: 0;
}

.smartphone-body_10 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_10 .button4 {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    right: 30%;
    font-size: 0px;
    padding: 15px 20%;
    border: 0;
    outline: 0;
}

.smartphone-body_10 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}

/*과목 4-2 연습문제 버튼*/


/* 정답 버튼 */
.smartphone-body_11 .button1 {
    opacity: 0;
    position: absolute;
    bottom: 47%;
    left: 25%;
    font-size: 0px;
    padding: 18px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_11 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_11 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 23%;
    right: 25%;
    font-size: 0px;
    padding: 18px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_11 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_11 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 31%;
    right: 25%;
    font-size: 0px;
    padding: 18px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_11 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_11 .button4 {
    opacity: 0;
    position: absolute;
    top: 38.5%;
    right: 25%;
    font-size: 0px;
    padding: 18px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_11 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


/*과목 4-3 연습문제 버튼*/


/* 정답 버튼 */
.smartphone-body_12 .button1 {
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 25%;
    font-size: 0px;
    padding: 18px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_12 .button1:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_12 .button2 {
    opacity: 0;
    position: absolute;
    bottom: 4%;
    right: 25%;
    font-size: 0px;
    padding: 32px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_12 .button2:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}



.smartphone-body_12 .button3 {
    opacity: 0;
    position: absolute;
    bottom: 30%;
    right: 25%;
    font-size: 0px;
    padding: 22px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_12 .button3:hover {
    opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}


.smartphone-body_12 .button4 {
    opacity: 0;
    position: absolute;
    top: 12%;
    right: 25%;
    font-size: 0px;
    padding: 27px 25%;
    border: 0;
    outline: 0;
}

.smartphone-body_12 .button4:hover {
   opacity: 0.5;
    background:#000;
    border-width: 5px;
    border-radius: 5px;
    border-style: groove;
    border-color: red;
}